.footer {
  display: flex;
  background-color: #6504b5;
  justify-content: space-between;
  width: 100%;
  height: 130px;
}

.pet-care-link-container {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footer-links-container {
  display: flex;
  width: 30%;
  align-items: center;
}

.footer-link {
  font-size: 48px;
  color: #fff;
  margin-left: 30px;
}
