.user-show-container {
  padding: 20px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

.messages-container-wrap {
  width: 30%;
}

.messages-container {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.message-amount {
  font-size: 20px;
  margin-bottom: 5px;
}

.messages-item-container {
  border-bottom: 1px solid #ccc;
}

.message-item-header {
  display: flex;
  justify-content: space-between;
}

.message-author-name {
  color: #314758;
  font-size: 14px;
  font-weight: 700;
}

.message-body {
  color: #314758;
  font-size: 14px;
}

.favorite-posts-container-wrap {
  width: 70%;
}

.favorite-posts-container {
  display: grid;
  gap: 15px;
  grid-template-columns: auto auto auto auto;
  // padding: 5px;
}

.favorite-posts-amount {
  padding-left: 15px;
  font-size: 40px;
  font-weight: 400;
  font-family: Nexa Regular, Arial, Helvetica, sans-serif;
  color: #4d4751;
}